@import "reset.css";
@import "general.css";

/* MAIN */

body {
    background-color: #032B3D;
}

#grid-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#grid-container > .myCell {
    width: 10%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px solid #EE3661;;
    background-color: #04D197;
}

#grid-container > .myCell.active {
    background-color: #EE3661;
}